body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}
.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}
header{
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
    min-height: 160px;
    padding: 20px 0 20px 0;
    border-bottom:#e8491d 3px solid;
}
header .logo{
    float: left;
    position: absolute;
    left: 10px;
    margin-top: 6px;
    margin-left: 15px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    color: whitesmoke;
    margin-left: 70px;
    margin-top: 20px;
}
header nav{
    float: right;
    margin-top: 40px;
}
header nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header .current a{
    color: white;
}
header nav a:hover{
    color: orange;
}
header #branding a:hover{
    color: white;
}
#showcase{
    min-height: 276px;
    background-size: cover;
    text-align: center;
    color: #2f2f2f;
}
#showcase h1{
    margin-top: 60px;
    font-size: 40px;
}
#showcase .container p{
    font-size: 20px;
    width: 70%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 60px;
}
footer{
    padding: 20px 20px 5px 20px;
    color:#ffffff;
    background-color:#123667;
    text-align: center;
}
footer table a{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    color: orange;
}


@media(max-width: 1110px){
    header #branding,
    header nav,
    header nav li{
        float:none;
        text-align:center;
        width:100%;
        margin-left: 0px;
    }
    header .logo{
        float: none;
        left: 10%;
        margin-top: 80px;
    }
    header h6{
        margin: 0px;
    }
    #showcase .container p{
        width: 80%;
    }
}
@media(max-width: 755px){
    header #branding,
    header nav,
    header nav li{
        float:none;
        text-align:center;
        width:100%;
    }
    header .logo{
        display: none;
    }
    header #branding{
        margin-top: 10px;
    }
}