/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3.6rem;

    /*========== Colors ==========*/
    --first-color: #257ada;
    --first-color-alt: #213fc4;
    --first-color-send: #3b95de;
    --title-color: #161212;
    --light-1: #3f51b5;
    --light-2: #062a46;
    --text-color: #5b5757;
    --text-color-light: #8f8a8a;
    --body-color: #fff;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes ==========*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/*========== BASE ==========*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color-send: #3d3d3d;
    --title-color: #f3f1f1;
    --text-color: #d1c7c8;
    --body-color: #2e2f33;
    --container-color: #3d3d3d;
    --light-1: #fff;
    --light-2: #fff;
}

/*========== Button Dark/Light ==========*/
.change-theme {
    position: absolute;
    right: 1.5rem;
    top: 2.2rem;
    display: flex;
    color: var(--title-color);
    font-size: 2rem;
    cursor: pointer;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== CLASS CSS ==========*/
.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.l-main {
    overflow: hidden;
}

.bd-container {
    max-width: 1000px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--container-color);
}

/*========== NAV ==========*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        text-align: center;
        background-color: var(--container-color);
        transition: 0.4s;
        box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 23%);
        border-radius: 2rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */
.show-menu {
    top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
    position: relative;
}

.active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

/* Scroll top */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: rgba(37, 94, 218, 0.548);
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color);
}

.scrolltop__icon {
    font-size: 1.5rem;
    color:#fff;
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container {
    row-gap: 0.5rem;
    margin-top:15px;
}

.home__img {
    width: 280px;
    justify-self: center;
}

.home__title {
    color:#000;
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);
    /* background: linear-gradient(to top left, #3f51b5, #062a46); */
    background: linear-gradient(to top left, var(--light-1), var(--light-2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__description {
    margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button-link {
    background: none;
    padding: 0;
    color: var(--first-color);
}

.button-link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

/*========== about ==========*/
.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-2);
}

.about__img {
    width: 280px;
    justify-self: center;
}

/*========== our_team ==========*/
.our_team__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 2em 0;
}

.our_team__data {
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
    border-radius: 1rem;
}

.our_team__data:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.our_team__img {
    width: 180px;
    border-radius: 50%;
}

.our_team__title {
    font-size: 15px;
    margin-bottom: var(--mb-1);
}

/*========== ACCESSORIES ==========*/

.contact_us__content {
    position: relative;
    display: grid;
    padding: 20px;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
    border-radius: 1rem;
    max-width: 300px;
    margin: 0 auto;
    cursor:pointer;
    overflow: hidden;
}

.contact_us__content:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.contact_us__img {
    width: 110px;
    justify-self: center;
    margin-bottom: 0.25rem;
}

.contact_us__title,
.contact_us__category {
    text-align: center;
}

.contact_us__title {
    font-size:17px !important;
}

.contact_us__category {
    font-size: 13px;
    margin-bottom: var(--mb-1);
    color: var(--text-color-light);
}

.contact_us__preci {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.contact_us__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: 0.5rem 0.625rem;
    border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/
.send {
    background-color: var(--first-color-send);
}

.send__title,
.send__description {
    color: #fff;
}

.send__description {
    text-align: center;
    margin-bottom: var(--mb-4);
}

.send__direction {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.send__input {
    width: 70%;
    outline: none;
    border: none;
    padding-left:15px;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.send__input::placeholder {
    font-family: var(--body-font);
}

.send__img {
    width: 280px;
    justify-self: center;
}

/*========== FOOTER ==========*/
.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo {
    color: var(--title-color);
}

.footer__title {
    margin-bottom: var(--mb-2);
}

.footer__logo,
.footer__title {
    font-size: 18px !important;
}
.footer__description{
    font-size: 15px !important;
}
.footer__link {
    display: inline-block;
    margin-bottom: 0.75rem;
    color: var(--text-color);
}

.footer__link:hover {
    color: var(--first-color);
    text-decoration: underline;
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-3);
}

.footer__social:hover {
    color: var(--first-color);
}

.footer__copy {
    text-align: center;
    font-size: 13px !important;
    color: var(--text-color-light);
    margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
    .home__img,
    .about__img,
    .send__img {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .home__container,
    .about__container,
    .send__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home__container {
        padding: 5rem 0 0;
    }

    .home__img {
        order: 1;
    }

    .section-title-center,
    .about__data,
    .send__description {
        text-align: initial;
    }

    .home__img,
    .about__img,
    .send__img {
        width: 100%;
    }

    .about__img {
        order: -1;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 7rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.2rem);
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .change-theme {
        position: initial;
        margin-left: var(--mb-4);
    }

    .home__container {
        padding: 7rem 2rem 0;
    }

    .about__container {
        padding: 0 2rem;
    }

    .send {
        background: none;
    }

    .send__container {
        background-color: var(--first-color-send);
        padding: 2rem;
        border-radius: 1.5rem;
    }
}

@media screen and (min-width: 968px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img,
    .about__img,
    .send__img {
        width: 469px;
    }

    .home__container,
    .about__container,
    .send__container {
        column-gap: 5rem;
    }
}
